@font-face {
    font-family: 'Austera Text';
    src: url('../fonts/austeratext-extralight-webfont.woff2') format('woff2'),
         url('../fonts/austeratext-extralight-webfont.woff') format('woff');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Austera Text';
    src: url('../fonts/austeratext-extralightitalic-webfont.woff2') format('woff2'),
         url('../fonts/austeratext-extralightitalic-webfont.woff') format('woff');
    font-weight: 200;
    font-style: italic;
}

@font-face {
    font-family: 'Austera Text';
    src: url('../fonts/austeratext-light-webfont.woff2') format('woff2'),
         url('../fonts/austeratext-light-webfont.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Austera Text';
    src: url('../fonts/austeratext-lightitalic-webfont.woff2') format('woff2'),
         url('../fonts/austeratext-lightitalic-webfont.woff') format('woff');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Austera Text';
    src: url('../fonts/austeratext-regular-webfont.woff2') format('woff2'),
         url('../fonts/austeratext-regular-webfont.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Austera Text';
    src: url('../fonts/austeratext-italic-webfont.woff2') format('woff2'),
         url('../fonts/austeratext-italic-webfont.woff') format('woff');
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: 'Austera Text';
    src: url('../fonts/austeratext-medium-webfont.woff2') format('woff2'),
         url('../fonts/austeratext-medium-webfont.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Austera Text';
    src: url('../fonts/austeratext-mediumitalic-webfont.woff2') format('woff2'),
         url('../fonts/austeratext-mediumitalic-webfont.woff') format('woff');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Austera Text';
    src: url('../fonts/austeratext-demibold-webfont.woff2') format('woff2'),
         url('../fonts/austeratext-demibold-webfont.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Austera Text';
    src: url('../fonts/austeratext-demibolditalic-webfont.woff2') format('woff2'),
         url('../fonts/austeratext-demibolditalic-webfont.woff') format('woff');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: 'Austera Text';
    src: url('../fonts/austeratext-bold-webfont.woff2') format('woff2'),
         url('../fonts/austeratext-bold-webfont.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Austera Text';
    src: url('../fonts/austeratext-bolditalic-webfont.woff2') format('woff2'),
         url('../fonts/austeratext-bolditalic-webfont.woff') format('woff');
    font-weight: 700;
    font-style: italic;
}
