<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="color-scheme" content="light dark">

    <meta name="description" content="{{ config.description }}">

    <meta property="og:title" content="{{ config.title }}" />
    <meta property="og:description" content="{{ config.description }}" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="{{ config.base_url }}" />

    <link rel="apple-touch-icon" sizes="180x180" href="img/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="img/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="img/favicon-16x16.png">
    <link rel="manifest" href="site.webmanifest">

    <link rel="icon" href="img/favicon.ico" type="image/x-icon"/>
    <link rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/tacit-css@1.9.1/dist/tacit-css.min.css"/>
    <link rel="stylesheet" href="style/fonts.css"/>
    <link rel="stylesheet" href="style/app.css"/>

    <title>{{ config.title }}</title>
  </head>
  <body>
    <section>
      <header>{% block header %}{% endblock header %}</header>
      <article>{% block main %}{% endblock main %}</article>
      <footer>{% block footer %}{% endblock footer %}</footer>
    </section>
  </body>
</html>
